body {
    font-family: Verdana;
    background-color: rgb(249, 249, 221);
    margin: 0px;
    height: 100%;
}


.header_image {
    display: block;
    margin: 20px auto;
}

h1 {
    color: white;
    background-color: rgb(174, 40, 40); 
}

h2 {
    color: white;
    background-color: rgb(174, 40, 40);
}
p {
    font-size: 14 size;
    max-width: 400px;
}
a {
    color: grey;
    text-decoration: none;
    margin-right: 30px;
}
